<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="adminPage.css">
</head>

<body>
  <div>
    <h1 style="text-align:center ;">ADMIN PAGE</h1>
    <form action="/exit" method="post" style="float:right; background-color:red;">
      <input type="submit" name="vis" value="Log Out">
    </form>
  </div>
    

    <hr><br>
    <div>
      <h1>Arasirmacilar</h1> 
      <form action="/vis" method="post">
        <input type="submit" name="vis" value="Grafik">
      </form>
    </div>
    
    <input id="search" type="text" name="search" placeholder="Search something...">
    <br><hr>
    <div class="btnAdd">
        <form action="/person/add" method="post">
        <label for="">Name: </label>
        <input type="text" name="name">
        <label for="">Surname: </label>
        <input type="text" name="sname">
        <label for="">Yayin id: </label>
        <input type="text" name="yayinId">
        <input type="submit"  id="ekleBtn" value="Ekle" class="button-33">
       
        </form>
       <br><hr>
        <form action="/person/del" method="post">
            <label for="">Name: </label>
            <input type="text" name="name">
            <label for="">Surname: </label>
            <input type="text" name="sname">
            <input type="submit"  id="delBtn" value="Sil" class="button-34">
           
            </form>
            <br><hr>
            <form action="/person/rel" method="post">
              <label for="">Name: </label>
              <input type="text" name="name">
              <label for="">Yayin Name:</label>
              <input type="text" name="yName">
              <input type="submit"  id="relBtn" value="Relation" class="button-34">
             
              </form>
    </div>
    
   
    
    
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>YayinId</th>
            
        </tr>
        <% persons.forEach( person => { %>
            <tr>
               
                <td class="veri" id="id"><%= person.id%></td>
                <td class="veri" id="name"><%= person.name%></td>
                <td class="veri" id="sname"><%= person.sname%></td>
                <td class="veri" id="YayinId"><%= person.YayinId%></td>
               
            
            </form>
            </tr>
            <% }) %>
    </table>
</body>

</html>