<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

 th {
    background-color: #04AA6D;
    color: white;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
#butonSil{
    position:relative;
    left: 25%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#search{
    width: 600px;
    height: 34px;
    position: relative;
    display: flex;
    left: 30%;
    background-color: rgb(212, 212, 192);
    border: 0px solid red;
    border-bottom: 1px solid gray;
    border-radius: 10px;
    box-shadow: 3px 5px 8px rgb(64, 57, 57);
    
}
.btn {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid #bdbdbd;
  height: 48px;
  padding: 0 24px 0 16px;
  letter-spacing: 0.25px;
  border-radius: 24px;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn .mdi {
  margin-right: 8px;
}

.btn-delete {
  font-size: 16px;
  color: red;
}
.btn-delete > .mdi-delete-empty {
  display: none;
}
.btn-delete:hover {
  background-color: #fff5f5;
}
.btn-delete:hover > .mdi-delete-empty {
  display: block;
}
.btn-delete:hover > .mdi-delete {
  display: none;
}
.btn-delete:focus {
  box-shadow: 0 0 0 4px #ffcccc;
}
.button-33 {
  background-color: #c2fbd7;
  position: relative;
  left: 10px;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-34 {
  background-color: #b37351;
  position: relative;
  left: 10px;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(52, 75, 52);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.button-33:hover {
  box-shadow: rgba(187, 185, 44, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.btnAdd{
    
    float: right;
}

    </style>
</head>

<body>
  <div>
    <h1 style="text-align:center ;">ADMIN PAGE</h1>
    <form action="/exit" method="post" style="float:right; background-color:red;">
      <input type="submit" name="vis" value="Log Out">
    </form>
  </div>
    

    <hr><br>
    <div>
      <h1>Arasirmacilar</h1> 
      <form action="/vis" method="post">
        <input type="submit" name="vis" value="Grafik">
      </form>
    </div>
    
    <input id="search" type="text" name="search" placeholder="Search something...">
    <br><hr>
    <div class="btnAdd">
        <form action="/person/add" method="post">
        <label for="">Name: </label>
        <input type="text" name="name">
        <label for="">Surname: </label>
        <input type="text" name="sname">
        <label for="">Yayin id: </label>
        <input type="text" name="yayinId">
        <input type="submit"  id="ekleBtn" value="Ekle" class="button-33">
       
        </form>
       <br><hr>
        <form action="/person/del" method="post">
            <label for="">Name: </label>
            <input type="text" name="name">
            <label for="">Surname: </label>
            <input type="text" name="sname">
            <input type="submit"  id="delBtn" value="Sil" class="button-34">
           
            </form>
            <br><hr>
            <form action="/person/rel" method="post">
              <label for="">Name: </label>
              <input type="text" name="name">
              <label for="">Yayin Name:</label>
              <input type="text" name="yName">
              <input type="submit"  id="relBtn" value="Relation" class="button-34">
             
              </form>
    </div>
    
   
    
    
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>YayinId</th>
            
        </tr>
        <% persons.forEach( person => { %>
            <tr>
               
                <td class="veri" id="id"><%= person.id%></td>
                <td class="veri" id="name"><%= person.name%></td>
                <td class="veri" id="sname"><%= person.sname%></td>
                <td class="veri" id="YayinId"><%= person.YayinId%></td>
               
            
            </form>
            </tr>
            <% }) %>
    </table>
</body>

</html>