<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Personss</h1>
    <ul>
        <% persons.forEach( person => { %>
            <li><%= person.id%> - <%= person.name%> </li>
            <% }) %>
    </ul>
    <h1>Movies</h1>
    <ul>
        <% movies.forEach( movie => { %>
            <li><%= movie.id%> - <%= movie.title%> </li>
            <% }) %>
    </ul>
</body>

</html>